#header-image-menu{ 
    top: 10px; 
    position: relative; 
} 
  
#header-image-menu img{ 
    width: 100%; 
    margin: none; 
    padding: none; 
} 
  
#image-text{ 
    position: absolute; 
    top: 60%; 
    left: 60%; 
    font-family: 'Roboto'; 
    color: #000; 
    transform: translate(-30%, -30%); 
    text-align: center; 

} 
#welcome 
{    overflow: hidden; 
    width: 1000px; 
    margin: 0px auto; 
} 
          
#welcome .title{ 
    margin-top: 20px; 
    padding: 20px; 
    text-align: center; 
} 
  
#welcome p{ 
    margin-bottom: 40px; 
    text-align: center; 
} 
.navigate{
    display: flex;
    list-style-type: none;
}
#section-2{ 
    overflow: hidden; 
    margin-top: 5em; 
    padding-top: 1em; 
    border-top: 1px solid rgba(0, 0, 0, 0.2); 
    text-align: center; 
} 
.row #column1, 
.row #column2, 
.row #column3{ 
        float: left; 
        width: 320px; 
        padding: 80px 40px 80px 40px; 
} 
.column-title h2{ 
    margin: 1em 0em; 
    font-size: 1.6em; 
    font-weight: 700; 
} 
.button { 
    text-decoration: none; 
    text-align: center; 
    display: inline-block; 
    font-size: 16px; 
    background-color: #4CAF50; 
    color: white; 
    border: 2px solid #4CAF50; 
    padding: 16px 32px; 
    margin: 4px 2px; 
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s; 
    cursor: pointer; 
} 
    
.button:hover { 
    background-color: white; 
    color: #4CAF50; 
} 
/*****************************************/
/*   Styling Main Content Section 3 */
/*****************************************/

#section-3{ 
    overflow: hidden; 
    padding-top: 5em; 
    border-top: 1px solid rgba(0, 0, 0, 0.2); 
    text-align: center; 
} 

.image 
{ 
    display: inline-block; 
    border: 1px solid rgba(0, 0, 0, .5); 
    border-radius: 5px; 
} 
    
.image img 
{ 
    display: block; 
    width: 100%; 
} 
    
.image-full 
{ 
    display: block; 
    width: 100%; 
    margin: 0 0 3em 0; 
} 
    
.img-title{ 
    display: block; 
    padding-bottom: 1em; 
    font-size: 1em; 
    color: rgba(0, 0, 0, 0.6); 
} 

/* Add fixed width for each column and 
align text to center */
#column21, 
#column22, 
#column23, 
#column24
{ 
    width: 282px; 
    text-align: center; 
} 
    
#column21, 
#column22, 
#column23
{ 
    float: left; 
    margin-right: 24px; 
} 
    
#column24
{ 
    float: right; 
} 

